---
title: Rock Paper Scissors
---

<div id="wrapper">
    <h1>choose your destructor...</h1>
    <img id="rock" src="images/rock.png" />
    <img id="paper" src="images/paper.png" />
    <img id="scissors" src="images/scissors.png" />

    <p id="points">You have 0 points</p>

    <div id="update">

    </div>
</div>

<div id="win">
    <p id="win_points"></p>
    <button class="play_again" onclick="playAgain()">play again</button>
</div>

<div id="gameover">
    <p id="gameover_points"></p>
    <button class="play_again" onclick="playAgain()">play again</button>
</div>